img.logo-hover {
    position: relative;
}
  
img.logo-hover:hover {
    transform: scale(1.05);
}

img.logo-hover:hover .headshot {
    opacity: 0.5;
}

.profile_pic {
    position: relative;
    height: 275px;
    width: 275px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
}

.user_details {
    margin: 95px auto;
}

.update_btn {
    margin-top: 30px;
}

.reachUs {
    background-color: #e3e5e7;
    padding: 20px 0px 10px 0px;
}